<div id="CenterShow" class="OneContainer">
  <div class="row">
    <div class="col-md-12">
      <div class="Panel">
        <div class="PanelTitle PanelBlack">
          <!--请不要怀疑这是在欺骗您数据统计日期来自前端，事实上，后端是在每月1日统计至今，所以是一致的-->
          {{isPanel?"控制面板":`Worker ${MCSERVER.workername}`}} {{ new Date().getMonth()+1 }}月1日 ~ {{ new
          Date().getMonth()+1 }}月{{ new Date().getDate() }}日 基础监控
        </div>
        <div class="PanelBody">
          <div class="row">
            <div class="col-md-2 col-sm-4">
              <div class="LogV">{{ loginCounter }} 次</div>
              <div class="LogK">{{isPanel?"用户":"Worker"}}总计{{isPanel?"登录":"连接"}}次数</div>
            </div>
            <div v-if="isPanel">
              <div class="col-md-2 col-sm-4">
                <div class="LogV">{{ passwordError }} 次</div>
                <div class="LogK">错误密码登录次数</div>
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="LogV">{{ banip }} ip</div>
                <div class="LogK">触发防火墙临时禁封</div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4">
              <div class="LogV">{{ csrfCounter }} 次</div>
              <div class="LogK">可能的CSRF跨域</div>
            </div>
            <div class="col-md-2 col-sm-4">
              <div class="LogV">{{ notPermssionCounter }} 次</div>
              <div class="LogK">被拒绝的请求</div>
            </div>
            <div class="col-md-2 col-sm-4">
              <div class="LogV" v-text="time()"></div>
              <div class="LogK">系统正常运行的时间</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" v-if="isPanel">
    <div class="col-md-12">
      <div class="Panel">
        <div class="PanelTitle">面板管理</div>
        <div class="PanelBody">
          <div class="row">
            <div class="col-sm-12 PanelItemF">
              <div class="PanelItem" v-on:click="toUpdate()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                更新面板
              </div>
              <div class="PanelItem" v-on:click="toRestart()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                重启面板
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" v-else>
    <div class="col-md-12">
      <div class="Panel">
        <div class="PanelTitle">Worker管理</div>
        <div class="PanelBody">
          <div class="row">
            <div class="col-sm-12 PanelItemF">
              <div class="PanelItem" v-on:click="toUpdate(MCSERVER.workername)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                更新Worker
              </div>
              <div class="PanelItem" v-on:click="toRestart(MCSERVER.workername)">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                重启Worker
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="Panel">
        <div class="PanelTitle">系统信息监控</div>
        <div class="PanelBody">
          <div class="">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="LogV">{{ (sysTotalmem - sysFreemem).toFixed(1) }} MB</div>
                <div class="LogK">系统已使用内存</div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="LogV">{{ sysFreemem }} MB</div>
                <div class="LogK">系统剩余内存</div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="LogV">{{ cpu }} %</div>
                <div class="LogK">中央处理器利用率</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 NextCol">
      <div class="Panel">
        <div class="PanelTitle" v-if="isPanel">控制面板内存监控</div>
        <div class="PanelTitle" v-else>Worker内存监控</div>
        <div class="PanelBody">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="LogV">{{ rss }} MB</div>
              <div class="LogK">程序使用的物理内存</div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="LogV">{{ heapTotal }} MB</div>
              <div class="LogK">程序内部内存堆大小</div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="LogV">{{ heapUsed }} MB</div>
              <div class="LogK">已使用内存堆大小</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--服务器与用户统计-->
  <div class="row">
    <!--服务器统计-->
    <div class="col-md-6">
      <div class="Panel">
        <div class="PanelTitle">服务端监控</div>
        <div class="PanelBody">
          <div class="row">
            <div class="col-sm-4">
              <div class="LogV">{{ serverCounter }} 个</div>
              <div class="LogK">服务器总数</div>
            </div>
            <div class="col-sm-4">
              <div class="LogV">{{ runServerCounter }} 个</div>
              <div class="LogK">正在运行的服务器总数</div>
            </div>
            <div class="col-sm-4">
              <div class="LogV">{{serverCounter - runServerCounter }} 个</div>
              <div class="LogK">未启动的服务器总数</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--用户统计-->
    <div class="col-md-6 NextCol">
      <div class="Panel">
        <div class="PanelTitle" v-if="isPanel">用户管理权限监控</div>
        <div class="PanelTitle" v-else>Worker链接监控</div>
        <div class="PanelBody">
          <div class="row">
            <div v-if="isPanel">
              <div class="col-sm-4">
                <div class="LogV">{{ userCounter }} 个</div>
                <div class="LogK">用户总数 (包括管理员)</div>
              </div>
              <div class="col-sm-4">
                <div class="LogV">{{ userOnlineCounter }} 个</div>
                <div class="LogK">正在线上的用户总数</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="LogV">{{ WebsocketCounter }} 会话</div>
              <div class="LogK">Websocket 链接数</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="Panel">
        <div class="PanelTitle">版本</div>
        <div class="PanelBody">
          <div id="VersionShow">
            <p>
              发行版本:
              <span class="color-gray">
                <span class="color-gray" v-text="verisonA"></span>
              </span>
            </p>
            <p>
              发行编号:
              <span class="color-gray">
                <span class="color-gray" v-text="verisonB"></span>
              </span>
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="Panel">
        <div class="PanelTitle">操作系统</div>
        <div class="PanelBody">
          <div id="SystemUp">
            <p>
              系统与平台:
              <span class="color-gray" v-text="system"></span>
            </p>
            <p>
              进程根目录:
              <span class="color-gray" v-text="root"></span>
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //创建
  MI.rListener("onload", async function () {
    // 定义页面地址
    var isPanel = VIEW_MODEL["centerShow"]?.isPanel ?? !MCSERVER.workername;
    if (isPanel) {
      await TOOLS.definePage("template/center", "center/show", "", "centerShow");
    } else {
      await TOOLS.fetchData("workers/center", MCSERVER.workername, "centerShow");
    }

    PAGE.time = function (value) {
      return function () {
        var theTime = parseInt(Math.floor(this.uptime)); // 秒
        var theTime1 = 0; // 分
        var theTime2 = 0; // 小时
        if (theTime > 60) {
          theTime1 = parseInt(theTime / 60);
          theTime = parseInt(theTime % 60);
          if (theTime1 > 60) {
            theTime2 = parseInt(theTime1 / 60);
            theTime1 = parseInt(theTime1 % 60);
          }
        }
        var result = "";
        if (theTime1 > 0) {
          result = "" + parseInt(theTime1) + "分";
        }
        if (theTime2 > 0) {
          result = "" + parseInt(theTime2) + "时" + result;
        }
        return result;
      };
    };

    VIEW_MODEL.newVue("centerShow", {
      el: "#CenterShow",
      methods: {
        time: PAGE.time(),
        toUpdate: async function (itemWorkername) {
          var input = document.createElement("input");
          input.type = "file";
          var onChanged = new Promise((resolve, reject) => input.oninput = resolve);
          input.click();
          await onChanged;
          input.oninput = null;
          blob = input.files[0];
          if (!blob) {
            return;
          }
          var urlo = new URL(location.href);
          urlo.pathname = itemWorkername ? "/update/worker/" + itemWorkername : "/update";
          await fetch(urlo.href, {
            method: "POST",
            body: blob
          })
          if (!itemWorkername) {
            TOOLS.pushMsgWindow("面板开始更新");
          } else {
            TOOLS.pushMsgWindow("Worker开始更新");
            RES.redirectPage("./template/workers.html");
          }
        },
        toRestart: async function (itemWorkername) {
          await WS.call(itemWorkername ? "workers/restart" : "center/restart", itemWorkername || "", resolve);
          if (!itemWorkername) {
            TOOLS.pushMsgWindow("面板重启");
          } else {
            TOOLS.pushMsgWindow("重启Worker...");
            RES.redirectPage("./template/workers.html");
          }
        }
      }
    });

    PAGE.time = setInterval(async function () {
      var isPanel = VIEW_MODEL["centerShow"]?.isPanel ?? MCSERVER.workername;
      var onRefresh = WS.call(isPanel ? "center/show" : "workers/center", isPanel ? "" : MCSERVER.workername);
      var onTimeout = new Promise(_ => setTimeout(_, 5000, false));
      var result = await Promise.race([onRefresh, onTimeout]);
      if (result === false) {
        RES.redirectPage("./template/workers.html");
      }
    }, 2100);
  });

  //关闭
  MI.rListener("onend", function () {
    clearInterval(PAGE.time);
    var isPanel = VIEW_MODEL["centerShow"]?.isPanel ?? MCSERVER.workername;
    if (!isPanel) {
      delete MCSERVER.workername;
    }
  });
</script>