<div id="MCSManagerNews" class="OneContainer">
  <div class="row">
    <div class="col-md-8">
      <div class="Panel PanelBlack">
        <div class="PanelTitle">最新动态与信息通知</div>
        <div class="PanelBody" style="max-height: 90vh; overflow-y: scroll">
          <p>关注这里，如果出现BUG/新版本我们会立即通告</p>
          <div class="news" v-for="item of items">
            <p class="color-gray" v-text="item.time"></p>
            <p v-text="item.msg"></p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<script>
  MI.rListener("onload", function () {
    // 定义页面地址
    TOOLS.definePage("template/feelback", "genuser/home", null);

    RES.ajax({
      type: "GET",
      url: "public/news.json",
      success: function (result) {
        new Vue({
          el: "#MCSManagerNews",
          data: result
        });
      }
    });
  });

  MI.rListener("onend", function () {});
</script>
