<div id="HTMLPermissionManager" class="OneContainer">
  <!--<span style="display: none;" id="otpauthurl">{{authURL}}</span>-->
  <div class="row">
    <div class="col-md-8">
      <div class="Panel PanelBlack">
        <div class="PanelTitle">权限管理器</div>
        <div class="PanelBody">
          <div class="row">
            <div class="col-sm-12 PanelItemF">
              <div class="PanelItem" v-on:click="switchUser()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                切换用户
              </div>
              <!--
              <div class="PanelItem" v-on:click="refresh()">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                从内存刷新
              </div>
              <div class="PanelItem" v-on:click="reloadUser()">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                重新从文件刷新用户
              </div>
            -->
            </div>
          </div>
          <div class="ItemTableList"></div>
          <div class="PanelItem ItemTableList" v-for="item of items">
            <div class="row">
              <div class="col-md-7">
                <div class="PanelItemInfo">
                  <h4>
                    <!--
                    <span v-if="TOOLS.isMaster(item.username)" class="color-high-red">[管理账号] </span>
                    <span v-else class="color-green">[普通账号] </span>
                    <span v-text="item.username"></span>
                    -->
                    <span v-text="item.PermissionName"></span>
                    <span>注释:</span>
                    <span v-text="item.PermissionDescripton"></span>
                  </h4>
                  <div>
                    <span v-if="item.granted" class="glyphicon-ok"></span>
                    <span v-if="!item.granted" class="glyphicon-remove"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-5 NextCol">
                <div class="PanelItemMuem">
                  <!-- <button class="btn btn-primary" v-on:click="">权限配置</button> -->
                  <!--
                  <button class="btn btn-success" v-on:click="toUserView(item.username)">详细信息</button>
                  <span style="margin-left: 8px"> | </span>
                  -->
                  <button class="btn btn-primary" v-if="!item.granted" v-on:click="toGrantPermission(item)">给予权限</button>
                  <button class="btn btn-danger"  v-if="item.granted" v-on:click="toRemovePermission(item)">剥夺权限</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<script>
  MI.rListener("onload", function () {
    // 定义页面地址
    TOOLS.definePage("template/PermissionManager", "Permissions", null);
    VIEW_MODEL.newVue("HTMLPermissionManager",{
      el: "#HTMLPermissionManager",
      data: {
        
      },
      methods: {
        switchUser:function(){
          var username=prompt("输入你想切换的用户名")
        },
        toGrantPermission:function(item){
          var index=this.items.indexOf(item);
          WS.sendMsg("Permissions/grant",JSON.stringify({
            index
          }),function(){
            PAGE.refresh();
          })
        },
        toRemovePermission:function(item){
          var index=this.items.indexOf(item);
          WS.sendMsg("Permissions/remove",JSON.stringify({
            index
          }),function(){
            PAGE.refresh();
          })
        }
      }
    });
  });

  MI.rListener("onend", function () {});
</script>