<div id="ServerProperties" class="OneContainer">
  <div class="row">
    <div class="col-md-12">
      <div class="Panel PanelBlack">
        <div class="PanelTitle">服务端 {{ configName }} 配置文件</div>
        <div class="PanelBody">
          <div class="row">
            <div class="col-sm-12 PanelItemF">
              <p>您可以进行如下操作:</p>
              <div class="PanelItem" v-on:click="toBackConsole()">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                返回到控制台
              </div>
              <div class="PanelItem" v-on:click="toBackServerConfig()">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                返回到配置文件列表
              </div>
              <div class="PanelItem" v-on:click="toUpdateProperties()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                更新配置
              </div>
              <div class="PanelItem" v-on:click="re()">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                从内存刷新
              </div>
              <div class="PanelItem" v-on:click="toUpdatePropertiesFormFile()">
                <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                从文件刷新
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p>{{ serverName }} 服务器 {{ configName }} 配置文件更改</p>
              <p>请注意格式修改，确认无误保存即可，重启服务端生效</p>
              <table class="PropertiesList" width="100%">
                <tr>
                  <th>原字段键值</th>
                  <th v-if="MCSERVER.propertiesDescription[this.configName]">第三方解释</th>
                  <th>存在的值</th>
                </tr>
                <tr v-for="property of properties">
                  <th v-text="property[0]"></th>
                  <th v-if="MCSERVER.propertiesDescription[this.configName]" v-text="findProperties(property[0])"></th>
                  <th>
                    <div class="input-group input-group-sm"
                      v-if="typeof property[1]==='number'||isNumeric(property[1])">
                      <input type="number" class="form-control" aria-describedby="basic-addon1" v-model="property[1]" />
                    </div>
                    <div class="input-group input-group-sm"
                      v-else-if="typeof property[1]==='string' || property[1]===null">
                      <input type="text" class="form-control" aria-describedby="basic-addon1" v-model="property[1]" />
                    </div>
                    <div class="input-group input-group-sm" v-else-if="typeof property[1]==='boolean'">
                      <button class="btn btn-success" v-if="property[1]" v-on:click="flipBoolean(property)">是</button>
                      <button class="btn btn-danger" v-else v-on:click="flipBoolean(property)">否</button>
                    </div>
                  </th>
                </tr>
              </table>
              <br />
              <div class="row">
                <div class="col-sm-12 PanelItemF">
                  <div class="PanelItem" v-on:click="toBackConsole()">
                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                    返回到控制台
                  </div>
                  <div class="PanelItem" v-on:click="toUpdateProperties()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    更新配置
                  </div>
                  <div class="PanelItem" v-on:click="re()">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                    重新刷新读取
                  </div>
                  <hr />
                  <p>最后，请检查是否符合格式，条件，仔细检查后即可确认修改，或者直接返回到其他页面直接舍弃修改。</p>
                  <p>如果显示不全或不是最新，您可以单击 [重新刷新读取] 来进行获取更新，设置完毕请重启服务器。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./common/js/properties.js"></script>
<script>

  MI.rListener("onload", async function () {
    VIEW_MODEL.newVue("ServerProperties", {
      el: "#ServerProperties",
      methods: {
        async toUpdateProperties() {
          if (!this.properties) return;
          var obj = {
            serverName: this.serverName,
            configName: this.configName,
            properties: this.properties
          };
          await WS.call("server/properties_update", obj);
        },
        toBackServerConfig() {
          RES.redirectPage("./template/component/serverConfig.html");
        },
        toBackConsole() {
          RES.redirectPage("./template/component/console.html");
        },
        re() {
          RES.redirectPage("./template/component/properties.html");
        },
        async toUpdatePropertiesFormFile() {
          await WS.call("server/properties_update_reload", [this.serverName, this.configName]);
          this.$forceUpdate();
        },
        findProperties(key) {
          return MCSERVER.propertiesDescription?.[this.configName]?.[key] ?? "";
        },
        flipBoolean(property) {
          property[1] = !property[1];
          this.$forceUpdate();
        },
        isNumeric(str) {
          if (typeof str != "string") return false;
          return !isNaN(str) &&
            !isNaN(parseFloat(str))
        }
      }
    });
  });

  MI.rListener("onend", function () {
    //VIEW_MODEL["ServerProperties"] = null;
  });
</script>